@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header{
    position: fixed;
    width: 100%;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #00723F;
}

#logo {
    width: 100px;
    margin-left: 10px;
}

#btn-menu-ico {
    margin-right: 20px;
    font-size: 38px;
    color: white;
    cursor: pointer;
}

#fade{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 124, 124, 0.527);
    z-index: 5;
}

.showmodal{
    position: fixed;
    z-index: 10;
    width: 300px;
    left: 50%;
    background-color: #00723F;
    height: 100vh;
    transition: 0.5s;
}

.showmodal ul{
    list-style: none;
}

.btn-menu { 
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    height: 40px;
    border: 2px solid #00723F;
}

.btn-menu:hover{
    background-color: #009150;
    border-left: 2px solid #f0f0f0d0;
}

.showmodal a{
    text-decoration: none;
    color: white;
}

.hide{
    opacity: 0;

}

#fade.hide{
    pointer-events: none;
    left: 0;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/homebg.jpg);
    background-color: #51af85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: 70vh;
    padding: 10px;

}

.htitle{
    color: white;
    padding:10px;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid #00723F;
    background-color: #00723f50;
    border-radius: 6px;
    
}
.btn {
    background-color: #009150;
    color: white;
    font-size: 1.2rem;
    border: 2px solid #00723F;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn:hover{
    background-color: #00723F;
    transition-duration: 0.5s;
}
.calltoaction{
    max-width: 350px;
    border-radius: 50%;
}

#empresa h2 {
    text-align: center;
    color: #011f11;
    margin: 10px;
}

#empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#empresa p {
    color: #01130a;
    text-align: justify;
    text-indent: 30px;
    margin: 10px;
}



#img-empresa {
    width: 300px;
    border: 2px solid green;
    border-radius: 50%;
    margin: 30px;
    padding: 10px;
}

#servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}


#servicos img{
    width: 300px;
    border-radius: 50%;
    margin: 15px;
}
#servicos h2{
    margin-bottom: 20px;
    max-width: 348px;
}

#veterinaria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

#contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
input{
    width: 300px;
    height: 40px;
    margin: 10px;
    border: 2px solid #00723F;
    text-indent: 20px;
    outline-color: #51af85;
}

textarea{
    width: 300px;
    resize: none;
    border: 2px solid #00723F;
    text-indent: 20px;
    outline-color: #51af85;
}

#btn-form{
    background-color: #00723F;
    color: white;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#btn-form:hover{
    background-color: #bcf0d8;
    color: #00723F; 
}


footer{
    width: 100%;
    background-color: #00723F;
    color: white;
    padding: 10px;
    text-align: center;
}

.contatos-d{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.endereco{
    margin: 10px;
    padding-bottom: 10px;
}

.redes-sociais a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 10px;
}













